/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wb-ajax-filter-modal-container {
    position: fixed;
    z-index: -199;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(183 178 178 / 85%); /* Black w/ opacity */
    opacity: 0;
    transition: all 0.3s;
}
.wb-ajax-filter-modal-body {
    background-color: #fbfbfb;
    width: 50%;
    left: 25%;
    top: 10%;
    position: absolute;
}
.wb-ajax-filter-close-modal {
    background: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    top: -10px;
    right: -10px;
    cursor: pointer;
    position: absolute;
}
.wb-ajax-filter-close {
    font-size: 26px;
    font-weight: bold;
    color: #f40000;
    left: 0;
    line-height: 30px;
}
.wb-ajax-filter-close:hover,
.wb-ajax-filter-close:focus {
  color: #000;
  text-decoration: none;  
}

.wb-ajax-filter-form-wraper {
    margin: 1%;
    padding: 1%;
}

.wb-ajax-filter-toggle-content-row {
    margin: 1%;
    margin-top: 4%;
    padding-left: 2%;
    background: #f0f0f1;
    overflow: hidden;
}

.wb-ajax-filter-toggle-content-row label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2%;
}

span.view-all-presets {
    display: block;
    font-weight: 600;
    margin-bottom: 2%;
}

.wb-ajax-filter-radio__row label {
    display: inline;
}
.wb-ajax-filter-toggle-content-row span.description {
    font-style: italic;
    font-size: 12px;
    display: block;
}

.wb-ajax-filter-toggle-content-row button {
    float: right;
}

.wb-ajax-filter-onoff-container {
    display: inline;
}

.wb-ajax-filter-list-table-section-content {
    margin-bottom: 5%;
}

.wb-ajax-filter-list-table-section-content h2 {
    display: inline-block;
    /* vertical-align: middle; */
}

.wb-ajax-filter-list-table-section-content .wb-ajax-filter-add-preset-button a {
    text-decoration: none;
    background-color: #2271b1;
    color: #fff;
}

.wb-ajax-filter-list-table-section-content .wb-ajax-filter-add-preset-button {
    display: inline-block;
}

.wb-ajax-filter-table tr {
    box-shadow: 0 0 10px 0 rgb(167 217 236 / 40%);
}

.wb-ajax-filter-table th:not(:first-child), .wb-ajax-filter-table td:not(:first-child) {
    text-align: center;
}
.wb-shortcode-copy{
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    font-weight: 500;
    font-style: italic;
    color: #ff8d00fa;
}